<nav class="navbar navbar-dark bg-black navbar-expand-lg fixed-top shadow-sm">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" >ICTAK Learner Tracker</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        </ul>
        
        
        
        <div class="d-flex" >
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              User-Name
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="batch-list" >Batchs</a></li>
              <li><a class="dropdown-item" routerLink="course-list" >Courses</a></li>
              <li><a class="dropdown-item" routerLink="program-list" >Programs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/login">log-out</a></li>


            </ul>
          </div>
        </div>


      </div>
    </div>
  </nav>
  <a href=""></a>
  