<nav class="navbar navbar-dark bg-black navbar-expand-lg fixed-top shadow-sm">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" >ICTAK Learner Tracker</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        </ul>
        
        
        
        <div class="d-flex" >
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              User-Name
            </button>
            <ul class="dropdown-menu">
              <!-- <li><a class="dropdown-item" routerLink="batch-list" >Batchs</a></li>
              <li><a class="dropdown-item" routerLink="course-list" >Courses</a></li>
              <li><a class="dropdown-item" routerLink="program-list" >Programs</a></li>
              <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" routerLink="/login">log-out</a></li>


            </ul>
          </div>
        </div>


      </div>
    </div>
  </nav>

<div class="sidebar ">
    <a class="active" routerLink="/placementofficer-landing">Home</a>
</div>
<div class="content container pt-5 pb-5">
    <div class=" pt-5">

        <h3>Update Student Details</h3>
        <form [formGroup]="updatestudentform" (ngSubmit)="updateStudent()">


            <div class="row">
                <div class="col-6">
                    <div class="form-group pt-3">
                        <input type="text" class="form-control" required placeholder="Name"  formControlName="student_name" value="student_name" >
                    </div>
                    <div class="form-group pt-3">
                        <input type="" class="form-control" required placeholder="Contact Number" formControlName="contact_number">

                    </div>
                    <div class="form-group pt-3">
                        <input type="text" class="form-control" required placeholder="email id" formControlName="email_id">

                    </div>
                    <div class="form-group pt-3">

                        <select class="form-select" aria-label="Default select example" name="course" formControlName="course">
                    <option value="" selected disabled>Please select course</option>
                    <option   *ngFor="let course of courses  let i= index" [value]="course.course_name">{{course.course_name}}</option>
                </select>





                    </div>
                    <div class="form-group pt-3">
                        <select class="form-select" aria-label="Default select example" name="batch" aria-placeholder="Select Batch" formControlName="batch">
                    <option value="" selected disabled>Please select batch</option>
                    <option   *ngFor="let batch of batches  let i= index" [value]="batch.batch_name">{{batch.batch_name}}</option>
                  </select>
                    </div>
                    <div class="form-group pt-3">
                        <select class="form-select" aria-label="Default select example" name="program" formControlName="program">
                    <option value="" selected disabled>Please select program</option>
                    <option   *ngFor="let program of programs  let i= index" [value]="program.program_name">{{program.program_name}}</option>
                  </select>

                    </div>
                    <div class="form-group pt-3">
                        <select class="form-select" aria-label="Default select example" formControlName="training_head">
                    <option value="" selected disabled>Please select course</option>
                    <option selected>Select Training Head</option>
                    <option value="Training Head 1">Training Head 1</option>
                  </select>
                    </div>
                    <div class="form-group pt-3">
                        <select class="form-select" aria-label="Default select example" formControlName="placement_officer">
                    <option value="" selected disabled>Please select course</option>
                    <option selected>Select Placement head</option>
                    <option value="Placement Head 1">Placement Head 1</option>
                  </select>

                    </div>

                    <div class="form-group pt-3">

                        <select class="form-select" aria-label="Default select example" formControlName="course_status">
                            <option value="" selected disabled>Please select course</option>
                            <option value="Qualified">Qualified</option>
                            <option value="Incompetent">Incompetent</option>
                        </select>
                    </div>
                    <div class="form-group pt-3">
                    <select class="form-select" aria-label="Default select example" formControlName="employment_status">
                        <option value="" selected disabled>Please select course</option>
                        <option value="Placed">Placed</option>
                        <option value="JobSeeking">JobSeeking</option>
                        <option value="NOT Interested">NOT Interested</option>
                    </select>

                    </div>

                </div>
                <div class="col-6">


                    <div class="form-group">
                        <textarea class="form-control" id="" cols="30" rows="22" required placeholder="Address" formControlName="contact_address"></textarea>
                    </div>

                </div>
            </div>


            <div class="add pt-5" style="text-align:center">
                <button type="submit" class="btn btn-success" [disabled]="updatestudentform.invalid">Update Student</button>
                <!-- <button type="reset" class="btn btn-warning m-2 ">Clear</button> -->
                <button type="button" class="btn btn-warning m-2 " routerLink="/placementofficer-landing">Back</button>
            </div>

        </form>
    </div>

</div>