<div class="category-name"></div> <br/>
<div class="card-category-1">
    <div class="basic-card basic-card-aqua">
        <div class="card-content">
            <span class="card-title">Learner</span>
        </div>
        <div class="card-link">
            <a routerLink="/studentslist" title="View Details"><span>View Details</span></a>
        </div>
    </div>
    <div class="basic-card basic-card-lips">
        <div class="card-content">
            <span class="card-title">TrainerHead</span>
        </div>
        <div class="card-link">
            <a routerLink="/trainer" title="View Details"><span>View Details</span></a>
        </div>
    </div>
    <div class="basic-card basic-card-dark">
        <div class="card-content">
            <span class="card-title">PlacementOfficer </span>
        </div>
        <div class="card-link">
            <a routerLink="/placement" title="View Details"><span>View Details</span></a>
        </div>
    </div>

</div>
<br/>