<div class="body">

    <div class="login text-center">
        <main class="form-signin w-100 m-auto">

            <form #userlogin="ngForm" (ngSubmit)="userverify()">



                <div class="col-12">
                    <label for="yourUsername" class="form-label">Email</label>
                    <input type="email" class="form-control" [(ngModel)]="userform.email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" id="exampleInputEmail1" aria-describedby="emailHelp" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    />
                    <small class="text-danger" [class.d-none]="email.valid || email.touched" style="color: black; font-size: small,">
              Enter a valid email
              </small>
                </div>
                <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label
            >
            <input
              type="password"
              class="form-control"
              [(ngModel)]="userform.password"
              name="password"
              #password="ngModel"
              [class.is-invalid]="password.invalid && password.touched"
            
              required
              minlength="8"
            />
            <small
              class="text-danger"
              [class.d-none]="password.valid || password.touched"
              style="color: black; font-size: small"
              >Enter correct password</small
            >
            </div>
            <br>
            <div class="col-12">
            <button class="btn btn-primary w-100" type="submit" [disabled]="userlogin.form.invalid">
              Login
            </button>
            </div>
         
          </form>
        </main>

    </div>

</div>